header {
    width: 100vw;
}

#quote {
    font-size: 30px;
}

#title {
    text-align: center;
}

#music {
    max-width:600px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
}

#socials {
    display: flex;
    justify-content:space-around;
    margin-top: 100px;
    margin-bottom: 100px;
}

#WIP {
    text-align: center;
}

#couch {
    display: flex;
    justify-content: center;
    height: auto; 
}

#frank-ocean{
    max-width: 75vw;
    margin: 200px auto;
}

